*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'poppins' ,sans-serif;
}
.main{
    min-height: 100vh;
    width: 100%;
    background: #1d2026;
    position: relative;
    color: #fff;
    overflow: hidden;
}
nav{
    display: flex;
    align-items: center;
    padding: 20px 8%;
}
nav .menu-img{
    width: 25px;
    margin-right: 20px;
    cursor: pointer;
}
nav .logo{
    width: 160px;
    cursor: pointer;
}
nav ul{
    flex: 1;
    text-align: end;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin:0 20px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;

}
button{
    width: 60px;
    height: 30px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    transition: background 0.5s;
}
button span{
  background: #999;
    border-radius: 50%;
    height: 26px;
    width: 26px;
    display: block;
    margin-left: 2px;
    cursor: pointer;
    transition: background 0.5s ,margin-left 0.5s

}
.lamp-container{
    position: absolute;
    top: -20px;
    left: 22%;
    width: 200px;
    
}
.lamp{
    width: 100%;
}
.light{
    position: absolute;
    top: 97%;
    left: 50%;
    transform: translateX(-50%);
   width: 700px;
   margin-left: -10px;
   opacity: 0;
   transition: opacity 0.5s;
}
.text-container{
    margin-top: 7%;
    margin-left: 50%;
    max-width: 600px;
}
.text-container h1{
    font-size: 80px;
    font-weight: 400;
}
.text-container p{
    margin-top: 10px;
}
.text-container a{
    text-decoration: none;
    background: #00986f;
    color: #fff;
    padding: 14px 40px;
    border-radius: 30px;
    display: inline-block;
    margin-top: 30px;
    font-size: 18px;
}
.control{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 100px;
}
.control p{
margin-top: 3px;
}
.control .line{
   width: 250px;
   height: 4px;
   background: #fff;
   margin: 0 20px;
   border-radius: 2px;
}
.control .line span{
    width: 50%;
    background: #00986f;
    display: block;
    height: 8px;
    margin-top: -2px;
    border-radius: 4px;
}
.active{
    background-color: green;
    
}
.active span{
    background: #fff;
    margin-left: 31px;
}
.on{
    opacity: 1;
}